body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 15px;
  width: 400px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  margin: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.login-btn {
  background: #00c6ff;
  color: black;
}

.logout-btn {
  background: #ff4b2b;
  color: white;
}

button:hover {
  transform: scale(1.05);
}